.left-column
{
float:left;
width:350px;
height: 500px;
background-color:yellowgreen;
margin-left: 160px;
 
 
}
.right-column
{
float:right;
 width: 350px;
 height: 500px;
background-color:darkcyan;
margin-right: 160px;
   
 
}
.center-column
{
margin:auto;
 width: 350px;
 height: 500px;
background-color:lightslategrey;
margin-top:100px;
 
}
.in
{
    width: 50px;
    height:50px;
    background-color:black;
    border-radius: 50%;
    margin-top: 20px;
    margin-left:20px;
}
.par
{

    width: 200px;
    height:200px;
    color: white;
     
    margin-top: 20px;
    margin-left:20px;

}
.bt
{
    width:100px;
    height: 30px;
    background-color:gray;
    margin-top:40px;
    margin-left: 50px;
    text-align: center;
    color: white;
    border-radius: 10px;
}