.right-column
{
float:right;
 width: 350px;
 height: 350px;
background-color:green;
margin-right: 450px;
margin-top:50px;
   
 
}
.center-column
{
margin:auto;
 width: 350px;
 height: 500px;
background-color:blue;
margin-top:10px;
 
}
.in
{
    width: 50px;
    height:50px;
    background-color :red;
    border-radius: 50%;
    margin-left:70px;
    margin-top: 40px;
     
    
}
.par
{

    width: 200px;
    height:100px;
    background-color:black;
   
    margin-top: 50px;
    margin-left:40px;

}
.par1
{

    width: 200px;
    height:100px;
    background-color:brown;
     
    
    margin-left:40px;

}
.bt
{
    width:80px;
    height: 30px;
    background-color: yellowgreen;
     margin-top: 40px;
    border-radius: 10px;
    float:left;
    margin-left: 20px;
}
.bt1
{
    width:80px;
    height: 30px;
    background-color:yellow;
     float: left;
     margin-top: 40px;
    border-radius:10px;
    margin-left: 5px;
}
.bt2
{
    width:80px;
    height: 30px;
    background-color: aqua;
     float: left;
     margin-top: 40px;
    border-radius: 10px;
    margin-left: 5px;
}