.center-column
{
margin:auto;
 width: 350px;
 height: 500px;
background-color:blue;
margin-top:50px;
 
}
.par
{

    width: 250px;
    height: 100px;
    background-color:black;
    margin-top: 20px;
    margin-left: 40px;

}
.bt
{
    width: 200px;
    height: 20px;
    background-color: aqua;
    margin-top:10px;
    margin-left: 70px;
    border-radius: 10%;
}
 .in
 {
    width: 350px;
    height:200px;
    background-color:black;
    
    margin-top: 100px;
     
 }